[MASTER]
init-hook='import sys; sys.path.append("src")'
ignore-patterns=test_.*\.py
ignore=conftest.py, models.py

[MESSAGES CONTROL]
disable= too-few-public-methods, no-self-argument

[BASIC]
no-docstring-rgx=^(test|_)